<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <app-addform-worker
  (addWorker)="onAddWorker($event)"></app-addform-worker>
  <app-table-workers 
    [title]="'Программисты'" 
    [workers]="getByType(MyWorkerType.programmer)"
    (deleteWorker)="onDeleteWorker($event)"
    (saveWorker)="onSaveWorker($event)"
  ></app-table-workers>

  <app-table-workers 
    [title]="'Дизайнеры'" 
    [workers]="getByType(MyWorkerType.designer)"
    (deleteWorker)="onDeleteWorker($event)"
    (saveWorker)="onSaveWorker($event)"
  ></app-table-workers>

  <app-table-workers 
    [title]="'Копирайтеры'" 
    [workers]="getByType(MyWorkerType.copywriter)"
    (deleteWorker)="onDeleteWorker($event)"
    (saveWorker)="onSaveWorker($event)"
  ></app-table-workers>

  <app-table-workers 
    [title]="'Менеджеры'" 
    [workers]="getByType(MyWorkerType.manager)"
    (deleteWorker)="onDeleteWorker($event)"
    (saveWorker)="onSaveWorker($event)"
  ></app-table-workers>
</div>
